* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding: 5px;
}

body {
    background-color: rgb(164, 183, 219);
}

.hidden {
    opacity:0;
    position: relative;
    left: 840px;
    bottom: 240px;
}

a:hover {
    opacity: 100;
}

/* div { background-color: rgb(164, 183, 219); } */
#content {
    padding: 15px;
    border: 10px solid black;
    margin: 10px;
}

p {
    font-family: Verdana;
    font-size: 12pt;
}

p strong {
    color: darkorchid;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

table strong {
    font-size: x-large;
    padding: 5px;
}

ul {
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.graphic_design {
    float: right;
    padding-right: 30px;
}

audio {
    padding-top: 30px;
}

h1 {
    font-size: larger;
}

.greet {
    text-align: right;
    padding: 10px;
    color: black;
    font-weight: bold;
}

mark {
    background-color: rgba(236, 197, 145, 0.699);
}